<li class="column"><script>
  document.addEventListener("DOMContentLoaded", function() {
    const sliders = document.querySelectorAll('.image-slider');
    
    sliders.forEach(function(sliderContainer) {
        const leftArrow = sliderContainer.closest('.container--img').querySelector('.left-arrow');
        const rightArrow = sliderContainer.closest('.container--img').querySelector('.right-arrow');

        leftArrow.addEventListener('click', function(event) {
            event.preventDefault();
            event.stopPropagation();
            sliderContainer.scrollBy({ left: -sliderContainer.offsetWidth, behavior: 'smooth' });
        });

        rightArrow.addEventListener('click', function(event) {
            event.preventDefault();
            event.stopPropagation();
            sliderContainer.scrollBy({ left: sliderContainer.offsetWidth, behavior: 'smooth' });
        });
    });
  });
</script><product-card class="product-card text-center">
      <figure class="product-featured-image thb-hover">
        
        <a class="container--img" href="/es/collections/all-camisetas/products/motion-tee" title="MOTION TEE" style="--padding-bottom: 150.03663003663004%;">
          <div class="arrows-container">
            <div class="nav-arrows left-arrow">❮</div>
            <div class="nav-arrows right-arrow">❯</div>
          </div>
          <div class="image-slider"><div class="imghover--0--index product-img active" data-index="0">
                        
<img class="product-img lazyautosizes ls-is-cached lazyloaded" width="1365" height="2048" data-sizes="auto" src="//esenziaclub.com/cdn/shop/files/motion-tee-875902_20x_crop_center.jpg?v=1730886521" data-srcset="//esenziaclub.com/cdn/shop/files/motion-tee-875902_375x_crop_center.jpg?v=1730886521 375w,//esenziaclub.com/cdn/shop/files/motion-tee-875902_770x_crop_center.jpg?v=1730886521 770w" fetchpriority="low" alt="MOTION TEE - Esenzia" sizes="303px" srcset="//esenziaclub.com/cdn/shop/files/motion-tee-875902_375x_crop_center.jpg?v=1730886521 375w,//esenziaclub.com/cdn/shop/files/motion-tee-875902_770x_crop_center.jpg?v=1730886521 770w">

                    </div><div class="imghover--1--index product-img " data-index="1">
                        
<img class="product-img lazyautosizes ls-is-cached lazyloaded" width="1365" height="2048" data-sizes="auto" src="//esenziaclub.com/cdn/shop/files/motion-tee-332510_20x_crop_center.jpg?v=1730886521" data-srcset="//esenziaclub.com/cdn/shop/files/motion-tee-332510_375x_crop_center.jpg?v=1730886521 375w,//esenziaclub.com/cdn/shop/files/motion-tee-332510_770x_crop_center.jpg?v=1730886521 770w" fetchpriority="low" alt="MOTION TEE - Esenzia" sizes="303px" srcset="//esenziaclub.com/cdn/shop/files/motion-tee-332510_375x_crop_center.jpg?v=1730886521 375w,//esenziaclub.com/cdn/shop/files/motion-tee-332510_770x_crop_center.jpg?v=1730886521 770w">

                    </div></div>
        </a><div class="product-card-sizes--container no-js-hidden">
      <div class="product-card-sizes" data-options="XS" data-index="0"><div class="product-card-sizes--size">
            <span>XS</span><div class="loading-overlay">
<svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
	<circle class="spinner-path" fill="none" stroke-width="6" cx="33" cy="33" r="30" stroke="var(--color-accent)"></circle>
</svg>
</div>
          </div><div class="product-card-sizes--size">
            <span>S</span><div class="loading-overlay">
<svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
	<circle class="spinner-path" fill="none" stroke-width="6" cx="33" cy="33" r="30" stroke="var(--color-accent)"></circle>
</svg>
</div>
          </div><div class="product-card-sizes--size">
            <span>M</span><div class="loading-overlay">
<svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
	<circle class="spinner-path" fill="none" stroke-width="6" cx="33" cy="33" r="30" stroke="var(--color-accent)"></circle>
</svg>
</div>
          </div><div class="product-card-sizes--size">
            <span>L</span><div class="loading-overlay">
<svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
	<circle class="spinner-path" fill="none" stroke-width="6" cx="33" cy="33" r="30" stroke="var(--color-accent)"></circle>
</svg>
</div>
          </div><div class="product-card-sizes--size">
            <span>XL</span><div class="loading-overlay">
<svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
	<circle class="spinner-path" fill="none" stroke-width="6" cx="33" cy="33" r="30" stroke="var(--color-accent)"></circle>
</svg>
</div>
          </div></div>
      <script type="application/json">
        [{"id":50761132310859,"title":"XS","option1":"XS","option2":null,"option3":null,"sku":"00242050020035MOTIO2","requires_shipping":true,"taxable":true,"featured_image":null,"available":true,"name":"MOTION TEE - XS","public_title":"XS","options":["XS"],"price":3800,"weight":0,"compare_at_price":null,"inventory_management":"shopify","barcode":"8435775209099","requires_selling_plan":false,"selling_plan_allocations":[]},{"id":50761132343627,"title":"S","option1":"S","option2":null,"option3":null,"sku":"00242050020035MOTIO3","requires_shipping":true,"taxable":true,"featured_image":null,"available":true,"name":"MOTION TEE - S","public_title":"S","options":["S"],"price":3800,"weight":0,"compare_at_price":null,"inventory_management":"shopify","barcode":"8435775209105","requires_selling_plan":false,"selling_plan_allocations":[]},{"id":50761132376395,"title":"M","option1":"M","option2":null,"option3":null,"sku":"00242050020035MOTIO4","requires_shipping":true,"taxable":true,"featured_image":null,"available":true,"name":"MOTION TEE - M","public_title":"M","options":["M"],"price":3800,"weight":0,"compare_at_price":null,"inventory_management":"shopify","barcode":"8435775209112","requires_selling_plan":false,"selling_plan_allocations":[]},{"id":50761132409163,"title":"L","option1":"L","option2":null,"option3":null,"sku":"00242050020035MOTIO5","requires_shipping":true,"taxable":true,"featured_image":null,"available":true,"name":"MOTION TEE - L","public_title":"L","options":["L"],"price":3800,"weight":0,"compare_at_price":null,"inventory_management":"shopify","barcode":"8435775209129","requires_selling_plan":false,"selling_plan_allocations":[]},{"id":50761132441931,"title":"XL","option1":"XL","option2":null,"option3":null,"sku":"00242050020035MOTIO6","requires_shipping":true,"taxable":true,"featured_image":null,"available":true,"name":"MOTION TEE - XL","public_title":"XL","options":["XL"],"price":3800,"weight":0,"compare_at_price":null,"inventory_management":"shopify","barcode":"8435775209136","requires_selling_plan":false,"selling_plan_allocations":[]}]
      </script>
    </div><ul class="product-secondary-images-nav dots"><li class="dot" data-index="1"></li>
            </ul></figure>
      <div class="product-card-info"><a href="/es/collections/all-camisetas/products/motion-tee" title="MOTION TEE" class="product-card-title">MOTION TEE</a>
          
<span class="price">
		
<ins><span class="amount">€38,00</span></ins>
	<small class="unit-price  hidden">
		<span></span>
    <span class="unit-price-separator">/</span>
		<span></span>
	</small>
</span>

          
</div>
  </product-card>

/* <style data-shopify="">
.container--img {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image-slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  overflow-x: auto;
}

.product-img {
  min-width: 100%;
  height: auto;
}

.arrows-container {
  display: none;
}

@media (min-width: 1024px) {
  .image-slider {
    overflow-x: hidden;
  }

  .arrows-container {
    width: 200%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 12px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 10;
  }

  .nav-arrows {    
    font-size: 30px;
    color: #383838;
    cursor: pointer;
    padding: 12px;
    width: max-content;
  }

  .left-arrow {
    left: 10px;
  }

  .right-arrow {
    right: 10px;
  }
}

.hover-elements {
  display: flex;
  gap: 10px;
  margin-top: 2px;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  flex-direction: row;
}

.hover-element {
  cursor: pointer;
  width: 100%;
  color: transparent;
}

.hide {
  display: none;
}

</style> */
</li>