* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    text-decoration: none;
}

.skip {
    border-radius: 8px;
    position: absolute;
    top: 80%;
    left: 50%;
    opacity: 0.7;
    background-color: #ffffff00;
    color: #fff6f6;
    border: 2px solid #ffe6e400;
    width: 250px;
}

.intro {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    z-index: -1;
}

.menu {
    background-image: url("../images/patio_menu.webp");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    background-position: top;
}

.logo1 {
    top: 5%;
    text-align: center;
}

.a {
    border-radius: 8px;
    font-size: 25px;
    background-color: #af1515;
    color: #ffffff;
    border: 0px solid #af1515;
    width: 400px;

}

.b {
    border-radius: 8px;
    font-size: 25px;
    background-color: #af1515;
    color: #ffffff;
    border: 0px solid #af1515;
    width: 298px;
}

.cabeza {
    position: relative;
    background-image: url("../images/banner.png");
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height: 115px;
    border-bottom: #af1515 solid 3px;
}

.cabeza-left {
    position: absolute;
    bottom: 0px;

}

.cesta {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.c {
    top: 100px;
    font-size: 20px;
    color: #af1515;
    border: 0px solid;
    bottom: 0px;
    background-color: #ffffff;
}

.d {
    border: 0px solid;
    background-color: #ffffff;
}

.punto {
    font-size: 25px;
    color: #000000;
    width: 400px;
}

.nombre {
    color: #780f0f;
    /*text-shadow: 2px 2px 3px rgb(179, 144, 144);*/
    text-align: left;
}

.productos {
    display: flex;
    align-items: center;

}

.producto_item {
    border: 10px solid rgb(255, 255, 255);
    text-align: center;
    max-width: 33%;
}

.img_producto_item {
    width: 100%;
    height: auto;
}

.next {
    position: absolute;
    top: 50%;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    transform: translateY(-50%);
    right: 10px;
}

.prev {
    position: absolute;
    top: 50%;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    transform: translateY(-50%);
    left: 10px;
}

.precio {
    border: 0px solid rgb(255, 255, 255);
    text-align: center;
    color: #780f0f;
}

.contenedor-carruseles {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.carrusel {
    position: relative;
    width: 25%;
    overflow: hidden;
    background-color: #f4f4f4;
    border-radius: 10px;
}

.carrusel-contenedor {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.imagen {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: contain;
}

.prev {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    transform: translateY(-50%);
    left: 10px;
}

.next {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    transform: translateY(-50%);
    right: 10px;
}

.img_ancho_pag {
    max-width: 100%;
    height: auto;
}

.carrito {
    padding: 15px 200px;
    border-radius: 0px;
    background-color: rgb(97, 97, 97, 0.2);
    color: rgb(0, 0, 0);
    border: 0px solid rgb(97, 97, 97);
}

.talla {
    padding: 14px 20px;
    border-radius: 0px;
    background-color: rgb(97, 97, 97, 0.2);
    color: rgb(0, 0, 0);
    border: 0px solid rgb(97, 97, 97);
}

.talla_seleccionada {
    padding: 14px 20px;
    border-radius: 0px;
    background-color: rgba(27, 26, 26, 0.8);
    color: rgb(255, 255, 255);
    border: 0px solid rgb(97, 97, 97);
}

.container_guia_tallas {
    width: 100vw;
    height: 100vh;
    background-color: rgb(175, 21, 21, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.container_img {
    display: flex;
    position: relative;
}

.cuerpo_producto {
    position: relative;
}

.imagenes_productos {
    display: flex;
    align-items: start;
    gap: 0.5rem;
    padding: 0 1rem;
}

.tablas_tallas {
    position: absolute;
    right: 15rem;
    top: 50%;
    transform: translateY(-50%);
}

.contador_productos {
    display: flex;
    align-items: center;
}

.contador_productos button {
    padding: 10px;
    font-size: 16px;
    padding: 14px 20px;
    border-radius: 0px;
    background-color: rgb(97, 97, 97, 0.2);
    color: rgb(0, 0, 0);
    border: 0px solid rgb(97, 97, 97);
}

.contador_productos input {
    width: 30px;
    text-align: center;
    font-size: 16px;
    margin: 0 10px;
    padding: 14px 20px;
    border-radius: 0px;
    background-color: rgb(97, 97, 97, 0.2);
    color: rgb(0, 0, 0);
    border: 0px solid rgb(97, 97, 97);
}

.button_talla {
    background: transparent;
    border: 0px solid;
    font-size: larger;
    color: rgb(66, 63, 63);
}

.nombre_producto {
    color: rgb(175, 21, 21);
    font-size: 50px;
    text-shadow: 2px 2px 5px rgb(0, 0, 0, 0.5);
}

.precio_producto {
    text-align: left;
    color: #000000;
    font-size: x-large;
}

.campo_oculto {
    color: #ffffff;
    border: #ffffff;
}

/*https://www.youtube.com/watch?v=XGyTnLoGOX0  acordeon*/

.acordeon {
    padding: 2mm;
    max-width: 120em;
}

.acordeon_bloque {
    margin: 0 0 1em;
    padding: 1em;
}

.acordeon_pregunta {
    margin: 0 0 1em;
    padding: 1em;
}

.acordeon_respuesta {
    padding: 0em;
    height: 0;
    overflow: hidden;
    transition: all 5s ease;
    /* para dar interacción a esa lista*/
}

.acordeon_bloque_activo_respuesta {
    height: 4em;
}

.cuerpo_carrito_negro {
    background: rgb(0, 0, 0, 0.5);
    height: 100vw;
    width: 100vw;
}

.carrito_general {
    position: absolute;
    background-color: #ffffff;
    right: 0px;
    width: 300px;
    padding: 10px;
}

.carrito_x {
    position: absolute;
    right: 10px;
    border: 0;
    color: #000000;
    font-weight: bold;
}

.carrito_button {
    text-align: center;
}

.carrito {
    width: 200px;
    font-size: 12px;
    padding: 10px 50px;
    background-color: rgba(0, 0, 0);
    color: rgb(255, 255, 255);
}

.factura {
    position: relative;
    width: 80%; 
    margin: 0 auto;
    border: none;
}

.factura th {
    padding: 8px;
    text-align: left;
    width: 80%;
    background-color: rgb(169, 169, 169);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.factura td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
.factura td {
    padding: 8px;
    text-align: left;
}


.pie {
    background-color: #000000;
    position: relative;
    color: #ffffff;
    height: 100%;
    width: 100%;
}

.pie-left {}

.rrss {}

.help {}

.politicas {}